/*--------- slider ---------*/
#slide {
  background: none repeat scroll 0 0 #ebebec;
  border-radius: 12px 12px 12px 12px;
  margin: 20px auto 0;
  overflow: hidden;
  padding: 3px;
  position: relative;
  width: 931px;
  z-index: 2;
}
.slide {
  float: left;
  position: relative;
}

.slide-area {
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 930px;
}

.slide_image {
  left: 0;
  position: absolute;
  top: 0;
}

.slide_image img {
  float: left;
}

.paging {
  left: 15px;
  padding: 5px 0 15px;
  position: absolute;
  text-align: center;
  top: 285px;
  z-index: 110;
}

.paging a {
  background: url(images/slide-button.png) no-repeat center;
  border: none;
  display: inline-block;
  height: 14px;
  margin: 4px;
  outline: none;
  text-indent: -9999px;
  width: 14px;
}

.paging a.active {
  background: url(images/slide-button-hover.png) no-repeat center;
  border: none;
  outline: none;
}

.paging a:hover {
  border: none;
  font-weight: bold;
  outline: none;
}

.desc {
  -khtml-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
  background: url("images/slider-bg.png") repeat scroll 0 0 transparent;
  border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  bottom: 0;
  color: #000000;
  font-family: 'Dancing Script';
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  display: none;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: right;
  width: 910px;
  z-index: 101;
}

#slider {
  clear: both;
  z-index: 1;
}
