/*-------------------------------------------*
/*Reset
/*-------------------------------------------*/
/* Default Style
--------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  background: #d8d8d8 url(images/quote.png) no-repeat;
  border-radius: 7px;
  border: 1px solid #bbbbbb;
  margin: 5px 0;
  padding: 10px 5px 5px 47px;
  quotes: none;
  text-shadow: 1px 1px #fff;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

pre {
  background: #d8d8d8;
  border-radius: 7px;
  border: 1px solid #bbbbbb;
  margin: 5px 0;
  padding: 7px;
  text-shadow: 1px 1px #fff;
}

code {
  background: #d8d8d8;
  border-radius: 7px;
  border: 1px solid #bbbbbb;
  display: block;
  margin: 5px 0;
  padding: 7px;
  text-shadow: 1px 1px #fff;
}

ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  background: #9f9f9f;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 7px 0;
  width: 100%;
}

input,
select {
  vertical-align: middle;
}

select {
  border-radius: 4px;
  border: 1px solid #acacac;
  padding: 3px 4px;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  text-indent: -9999px;
  visibility: hidden;
}

.lastcolumn {
  margin-right: 0 !important;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4615em;
  padding: 1.5385em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}

th,
tr,
td {
  vertical-align: middle;
}

.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

/*-------------------------------------------*
/*Body, Common Classes &Structure
/*-------------------------------------------*/
body {
  background: url('images/main.jpg');
  color: #333;
  font-family: 'Vollkorn', arial, serif;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: #44a7bb;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

p {
  margin: 0 0 0.8em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

#wrapper {
  margin: 0 auto;
  padding: 0 40px 35px;
  width: 940px;
}

#main {
  padding: 10px 0 0;
}

/*-------------------------------------------*
/*Headings
/*-------------------------------------------*/
h1,
h2,
h3,
h4 {
  color: #000;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h2,
h3 {
  margin-bottom: 8px;
  margin-top: 12px;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: #000;
}

/*-------------------------------------------*
/*Header
/*-------------------------------------------*/
#header {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
}

#logo {
  float: left;
  padding: 20px 15px 10px 0px;
}

#sitename {
  float: left;
  padding-left: 5px;
  padding-top: 35px;
}

#sitename h2,
#sitename h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
}

#sitename h2 a,
#sitename h1 a {
  color: #222;
  font-family: 'Dancing Script';
  font-size: 28px;
  text-decoration: none;
}

#sitename h2 a:hover,
#sitename h1 a:hover {
  color: #b81007;
}

#sitename p {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

/*-------------------------------------------*
/* Menu Navigation
/*-------------------------------------------*/
#navigation {
  background: url("images/menubg.png") repeat scroll 0 0 transparent;
  height: 61px;
  width: 940px;
}

#main-menu .home span {
  background: url("images/home-page-img.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 19px;
  width: 19px;
}

#main-menu .home {
  border-right: 1px solid #5fbccd;
  border-radius: 8px 0 0 8px;
  color: #ffffff;
  float: left;
  padding: 19px 19px 18px 20px;
  width: 24px;
}

#main-menu .home:hover {
  background: url("images/home-hoverbg.png") no-repeat scroll 0 0 transparent;
  height: 24px;
  width: 24px;
}

#main-menu .act {
  background: url("images/home-hoverbg.png") no-repeat scroll 0 0 transparent;
  height: 24px;
  width: 24px;
}

#navigation a {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

/*** ESSENTIAL Navigation Style ***/
#main-menu .menu ,
#main-menu .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu .menu {
  line-height: 1.0;
}

#main-menu .menu ul {
  position: absolute;
  top: -999em;
  width: 10em; /* left offset of submenus need to match (see below) */
}

#main-menu .menu ul li {
  width: 100%;
}

#main-menu .menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

#main-menu .menu li {
  float: left;
  position: relative;
}

#main-menu .menu a {
  display: block;
  position: relative;
  height: 18px;
}

#main-menu .menu li:hover ul {
  left: 0;
  top: 4em; /* match top ul list item height */
  z-index: 99;
}

#main-menu ul.menu li:hover li ul {
  top: -999em;
}
#main-menu ul.menu li li:hover ul {
  left: 10em; /* match ul width */
  top: 0;
}

#main-menu ul.menu li li:hover li ul {
  top: -999em;
}
#main-menu ul.menu li li li:hover ul {
  left: 10em; /* match ul width */
  top: 0;
}

/*** navigation skin ***/
#main-menu .menu {
  float: left;
}

#main-menu .menu a {
  border-left: 1px solid #82ceda;
  border-right: 1px solid #53b2c3;
  color: #ffffff;
  padding: 1.5em 15px;
  text-decoration: none;
}

#main-menu .menu .menu a {
  color: #666;
  height: 18px;
}

#main-menu .menu a.active {
  color: #000;
  height: 18px;
}

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu a:active {
  background: #000000;
  color: #fff;
  height: 18px;
}

#main-menu .menu a.active {
  color: #fff !important;
  background: none repeat scroll 0 0 #000000;
}

#main-menu .menu a.active-trail {
  background: url("images/current.jpg") repeat-x scroll 0 0 #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  color: #ffffff;
  height: 18px;
}

#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active {
  background: #5fbccd;
}

#main-menu .menu li ul {
  border-right: 1px solid #ececee;
}

li.sfHover {
  color: #000;
}

#main-menu .menu li li {
  background: #fff;
  border: 1px solid #cccccc;
}

#main-menu .menu li li li {
  background: #fff;
}

#main-menu .menu ul a {
  padding: .75em 1.2em;
}

/*** arrows **/
#main-menu .menu a.sf-with-ul {
  min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
  padding-right: 2.25em;
}

.sf-sub-indicator {
  background: url('images/arrows-down.png');
  display: block;
  height: 5px;
  overflow: hidden;
  position: absolute;
  right: .75em;
  text-indent: -999em;
  width: 9px;
}

a > .sf-sub-indicator {
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
  top: 1.9em; /* give all except IE6 the correct values */
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -9px 0px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#main-menu .menu ul .sf-sub-indicator {
  background: url('images/arrows-side.png');
  height: 9px;
  top: 1em;
  width: 5px;
}

#main-menu .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}

/* apply hovers to modern browsers */
#main-menu .menu ul a:focus > .sf-sub-indicator,
#main-menu .menu ul a:hover > .sf-sub-indicator,
#main-menu .menu ul a:active > .sf-sub-indicator,
#main-menu .menu ul li:hover > a > .sf-sub-indicator,
#main-menu .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -5px 0; /* arrow hovers for modern browsers*/
}

/*Social Icons */
#socialbar {
  float: right;
  padding-right: 10px;
}

#socialbar .social li {
  float: left;
  list-style: none outside none;
  margin-top: 19px;
}

.social .follow {
  color: #ffffff;
  float: left;
  padding-right: 8px;
  margin-top: 22px;
}

#socialbar .social .fb a {
  background: url("images/facebook.png") no-repeat scroll center center transparent;
  display: inline-block;
  height: 24px;
  padding: 0 5px 0 0;
  width: 24px;
}

#socialbar .social .fb a:hover {
  background: url("images/facebook_dark.png") no-repeat scroll center center transparent;
}

#socialbar .social .tw a {
  background: url("images/twitter.png") no-repeat scroll center center transparent;
  display: inline-block;
  height: 24px;
  padding: 0 5px 0 0;
  width: 24px;
}

#socialbar .social .tw a:hover {
  background: url("images/twitter_dark.png") no-repeat scroll center center transparent;
}

#socialbar .social .ln a {
  background: url("images/linkedin.png") no-repeat scroll center center transparent;
  display: inline-block;
  height: 24px;
  padding: 0 5px 0 0;
  width: 24px;
}

#socialbar .social .ln a:hover {
  background: url("images/linkedin_dark.png") no-repeat scroll center center transparent;
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background: url('images/shadow.png') no-repeat bottom right;
  border-bottom: none !important;
  border-right: none !important;
  margin: 0 !important;
  padding: 3px !important;
}

.sf-shadow ul ul {
  padding-left: 0 !important;
}

.sf-shadow ul.sf-shadow-off {
  background: transparent;
}

/*-------------------------------------------*
/* Header Search block
/*-------------------------------------------*/
.searchblock {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #d9d9db;
  float: right;
  margin: 30px 5px 0 0;
}

.searchblock label {
  display: none;
}

.searchblock .form-text {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #b0b1b2;
  display: inline-block;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  height: 20px;
  margin-right: 4px;
  padding: 5px 10px 5px 13px;
  vertical-align: top;
  width: 186px;
}

.searchblock .form-submit {
  background: url("images/search-button.png") no-repeat scroll 0 0 transparent;
  border-radius: 0 0 0 0;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 0;
  height: 25px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 26px;
}

.searchblock .form-submit:hover {
  background: url("images/search-button.png") no-repeat scroll right 0 transparent;
}

/*-------------------------------------------*
/* Columns
/*-------------------------------------------*/
.one .column {
  float: left;
  margin-right: 25px;
  text-align: justify;
  width: 100%;
}

.one .column img {
  float: left;
  margin-right: 15px;
}

.two .column {
  float: left;
  margin-right: 25px;
  text-align: justify;
  width: 440px;
}

.two .column img {
  float: left;
  margin-right: 15px;
}

.three .column {
  float: left;
  margin-right: 25px;
  text-align: justify;
  width: 290px;
}

.column h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-left: 15px;
  text-align: center;
}

.column img {
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
  height: 185px;
  margin-bottom: 10px;
  width: 285px;
}

.region-content {
  background: url("images/border.gif") repeat-x scroll 0 bottom transparent;
  padding-bottom: 5px;
}

/*-------------------------------------------*
/* Welcome content
/*-------------------------------------------*/
.welcome_content {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
}

/*-------------------------------------------*
/* Footer
/*-------------------------------------------*/
#footer-wrap {
  margin-top: 40px;
  width: 960px;
}

.footer-box1 {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 48%;
}

.footer-box2 {
  float: left;
  margin-bottom: 20px;
  width: 48%;
}

.footer-box img {
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}

.region-footer {
  margin-bottom: 20px;
  margin-top: 20px;
}

/*-------------------------------------------*
/*Nodes &Pages
/*-------------------------------------------*/
#post-content {
  display: inline;
  margin: 0;
}

body.sidebar-first #post-content {
  float: left;
  margin: 0;
  padding: 0;
  width: 675px;
}

.node {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#post-content h1 {
  margin-bottom: 0px;
}

.page-title {
  margin-bottom: 10px !important;
}

#breadcrumbs {
  border-bottom: 1px solid #eee;
  clear: both;
  font-size: 11px;
  margin-top: 20px;
  padding-bottom: 5px;
}

/*-------------------------------------------*
/*Sidebar
/*-------------------------------------------*/
#sidebar {
  float: right;
  width: 250px;
}

#sidebar .block {
  margin-bottom: 30px;
}

#sidebar .block h2 {
  border-bottom: 1px solid #eee;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/*-------------------------------------------*
/*Copyright
/*-------------------------------------------*/
#copyright {
  border-top: 1px solid #eee;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 18px;
}

.developed {
  float: right;
}

/*************************/
.submitted {
  background: #dfdddd;
  border-radius: 4px;
  clear: both;
  color: #383838;
  display: block;
  margin-bottom: 2px;
  padding: 4px 9px;
  text-shadow: 1px 1px #fff;
}

.links {
  color: #000;
  font-size: 14px;
  margin-top: 10px;
}

.links li a {
  background: none repeat scroll 0 0 #55b7c8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: normal;
  padding: 4px 5px;
}

.links li a:hover {
  color: #000000;
}

.content ul,
.content ol {
  padding-left: 20px;
}

.content table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

.content th {
  background: #dbdbdb;
  border-right: 1px solid #c8c7c7;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
}

.content td {
  background: url("images/main.jpg") repeat scroll 0 0 transparent;
  border-bottom: 1px solid #c8c7c7;
  border-right: 1px solid #c8c7c7;
  color: #747474;
  padding-left: 4px;
  text-align: left;
}

/*-------------------------------------------*
/* Form
/*-------------------------------------------*/
.form-submit {
  background: #55b7c8;
  border-radius: 5px;
  box-shadow: 0 1px 1px #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 20px 5px 20px;
}
.region-sidebar-first .block-search .form-submit {
  padding: 2px;
}
.region-sidebar-first .block-search .form-text {
  margin-top: 4px;
  width: 160px;
}
.form-submit:hover {
  color: #000000;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-text {
  border-radius: 3px;
  border: 1px solid #acacac;
  padding: 4px 5px;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border-radius: 4px 4px 0 0;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin-right: 5px;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover,
ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a,
ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a {
  background: url(images/tag.png) no-repeat;
  border-radius: 2px;
  color: #6c6c6c;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  padding: 0px 8px 0 16px;
  text-shadow: 1px 1px #fff;
}

.field-name-field-tags a:hover {
  color: #205194;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

#main .field-label {
  color: #000;
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*-------------------------------------------*
/* comment
/*-------------------------------------------*/
#comments {
  border-radius: 8px;
  border: 1px solid #dddddd;
  clear: both;
  margin-top: 14px;
  padding: 5px;
}

.comment {
  border-bottom: 1px solid #d9d9d9;
  border-radius: 7px;
  margin-bottom: 1.5em;
  min-height: 150px;
  padding: 5px;
}

h3.comment-title a {
  color: #67696d;
  font-size: 16px;
  margin-bottom: 5px;
}

.comment .new {
  color: red;
  margin-left: 1em;
  text-transform: capitalize;
}

.form-textarea-wrapper textarea {
  border-radius: 3px;
  border: 1px solid #acacac;
}

.comment .submitted {
  background: #e5e5e5;
  display: inline;
}

.comment .user-picture {
  border: 1px solid #d9d9d9;
  float: left;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 4px;
}

.comment-new-comments {
  display: none;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list {
  margin: 10px;
}

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  background: transparent;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  border: 1px solid #d9d9d9;
  float: left;
  margin: 5px 7px 5px 0;
  padding: 4px;
}

#forum th {
  background: #434343;
  color: #fff;
  text-shadow: none;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon,
#forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  height: 35px;
  width: 35px;
}

#forum .name a {
  font-size: 16px;
}

/*-------------------------------------------*
/* Overlay
/*-------------------------------------------*/

.overlay #header,
.overlay #Menu-shadow {
  display: none;
}
